h1.h1-header {
   color: red;
}

#header-img {
    width: 250px;
    height: 100px;
}
body {
  background-color:aquamarine;
  border-style: dashed;
  
}
table{
  border-color: black;
  border-style: dotted;
}
tr, td, th {
  border-color: black;
  border-style: dashed;
}
td {
  align-content: center;
}
#footer {
    height: 50px; /* the footer's total height */
    color: pink;
    align-self: bottom;
  }

  
  #footer-a {
    font-family:Georgia;
    font-size: large;
    font-weight: 300;

  }

  ul {
    list-style-type: square;
  }